nav {
  height: 20%;
  box-shadow: 0px .2rem .1rem .3rem hsla(0, 0%, 95%, 0.918);
}

.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

p {
  font-weight: 600;
}

.iconMoon {
  font-size: 1.6rem;
  margin-right: 0.3rem;
}

