nav {
  height: 20%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 10px 3px hsla(0, 0%, 95%, 0.918);
}

.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-weight: 600;
}
