nav {
  height: 20%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px .2rem .1rem .3rem hsla(0, 0%, 95%, 0.918);
}

.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

p {
  font-weight: 600;
}

.iconMoon {
  font-size: 1.6rem;
  margin-right: 0.3rem;
}

@media screen and (max-width: 520px) {
  .container {
    font-size: 1.3rem;
  }

  .iconMoon {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    font-size: 1.1rem;
  }

  .iconMoon {
    font-size: 1.1rem;
  }
}
