.country-card {
  background-color: #ffffff;
  box-shadow: 0px 0px 1rem 1rem hsl(0, 0%, 95%);
  padding-bottom: 1.7rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  flex-basis: 25rem;
  margin-bottom: 5rem;
  transition: transform 0.2s ease;
}

.country-card:not(:nth-child(4n)){
  margin-right: 2rem;
}

.country-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.info li {
  margin-bottom: .5rem !important;
}

img {
  width: 100%;
  height: 15rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  margin: 2rem;
}

.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 1194px) {
  .country-card:not(:nth-child(4n)){
    margin-right: 0;
  }

  .country-card:not(:nth-child(3n)){
    margin-right: 2rem;
  }
}

@media (max-width: 895px) {
  .country-card:not(:nth-child(3n)){
    margin-right: 1rem;
  }
}

@media (max-width: 872px) {
  .country-card {
    margin-right: 2rem;
  }
}

@media (max-width: 500px) {
  .country-card {
    font-size: 1.3rem;
  }
}


