.input-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 4rem;
  position: relative;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

input {
  font-family: 'Nunito Sans', sans-serif;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 1rem .5rem hsl(0, 0%, 95%);
  flex: 0.3;
  color: hsl(0, 0%, 70%);
  padding: 1.5rem;
  text-indent: 5rem;
}

input::placeholder {
  color: hsl(0, 0%, 70%);
}

.icon {
  position: absolute;
  left: 2.7rem;
  color: hsl(0, 0%, 60%);
  font-size: 1.6rem;
}

.select {
  flex: 0.2;
  font-size: 1.6rem;
  font-family: 'Nunito Sans', sans-serif;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 1rem .5rem hsl(0, 0%, 95%);
  color: hsl(0, 0%, 52%);
}

@media screen and (max-width: 1000px) {
  input {
    flex: 0.35;
  }

  .select {
    flex: 0.25;
  }
}

@media screen and (max-width: 770px) {
  input {
    flex: 0.4;
  }

  .select {
    flex: 0.3;
  }
}

@media screen and (max-width: 594px) {
  input {
    flex: 0.45;
  }

  .select {
    flex: 0.35;
  }
}

@media screen and (max-width: 520px) {
  .input-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    position: relative;
    margin-bottom: 4rem;
  }

  input {
    width: 100%;
    margin-top: 0;
    font-size: 1.3rem;
  }

  .select {
    width: 60%;
    margin-top: 4rem;
    align-self: flex-start;
    font-size: 1.3rem;
  }
  
  .fa-search {
    top: 1.5rem;
  }
}
